:root {
    --bg-color: white;
    --alt-bg-color: darkgrey;
    --text-color: black;
    --hover-text-color: brown;
    --hover-bg-color: indianred;
    --transition-time: 0.5s;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Segoe UI", sans-serif;
    margin: 0 auto;
    width: 80%;
    line-height: 35px;
    max-width: 1000px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin: 35px auto;
    display: block;
}
h1 {
    text-align: center;
    font-size: 36px;
}
a {
    color: inherit;
    transition: color var(--transition-time) ease;
}
a:hover {
    color: var(--hover-text-color);
}
header {
    text-align: center;
    color: var(--text-color);
    font-family: inherit;
    font-size: 0;
}
#dropbtn {
    font-size: medium;
    font-weight: bold;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: color var(--transition-time) ease;
    background-color: var(--bg-color);
}
#dropbtn:hover {
    color: var(--hover-text-color);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    width: 100%;
    box-shadow: 0px 8px 16px 0px var(--text-color);
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: var(--hover-text-color);
    background-color: var(--alt-bg-color);
}
.show {
    display: block;
}
.nav-link {
    outline: 1px solid var(--text-color);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    width: 33%;
}
.footer-object {
    margin-top: auto;
    opacity: 0.8;
    transition: opacity var(--transition-time) ease;
}
.footer-object:hover {
    opacity: 1;
}
.footer-object-body {
    line-height: 0.8;
    width: 100%;
    margin: 0;
    padding: 0;
}
figure {
    margin: 3vh auto;
    width: 70vw;
    max-width: 600px;
    border: 1px solid var(--text-color);
    background-color: var(--alt-bg-color);
    border-radius: 20px;
    text-align: center;
}
.profile-photo {
    border-radius: 50%;
}
.blockquote-text {
    font-style: italic;
}
.blockquote-text::before {
  content: "„";
}
.blockquote-text::after {
  content: "“";
}
table {
    width: 100%;
    border-collapse: collapse;
}
td,
th {
    width: 50%;
    padding: 8px;
    border: var(--text-color) 1px solid;
    text-decoration: none;
}
td {
    text-align: center;
}
th {
    text-align: left;
}
.output {
    width: fit-content;
    block-size: fit-content;
    display: none;
}
.tab {
    margin-top: 10px;
}
.tab > input[type="radio"] {
    display: none;
}
.tab-content {
    display: none;
}
#tab-exercises:checked ~ #exercises,
#tab-chat:checked ~ #chat,
#tab-games:checked ~ #games {
    display: block;
}
.tabLabel {
    display: none;
}
.tabLabel:hover {
    color: var(--hover-text-color);
}
.tab > input[type="radio"]:checked + label {
    background-color: var(--alt-bg-color);
}
.chat-body {
    width: 80%;
    margin: 10px auto;
}
.chat-container {
    padding: 10px;
}
.chat-messages-container {
    padding: 10px 0;
}
.chat-message {
    margin: auto;
    width: fit-content;
}
.user-chat-message {
    margin-left: 0;
}
.user-chat-message .message-text {
    background-color: var(--alt-bg-color);
    border-bottom-left-radius: 0;
}
.my-chat-message {
    margin-right: 0;
}
.my-chat-message .message-text {
    background-color: var(--hover-bg-color);
    border-bottom-right-radius: 0;
}
.message-username {
    padding: 0 10px;
    opacity: 0.8;
    font-size: small;
}
.message-text {
    padding: 0 10px;
    border-radius: 10px;
}
form {
    display: flex;
}
.form-input {
    padding: 0 5px;
    flex-grow: 1;
}
.form-button {
    border-radius: 0 5px 5px 0;
}
.cell {
    display: inline-block;
    outline: 1px solid;
    aspect-ratio: 1/1;
    height: 10vh;
    margin: 0;
    padding: 0;
    font-size: medium;
}
.row {
    font-size: 0;
    height: 10vh;
    width: fit-content;
}
.board {
    display: block;
    width: fit-content;
    margin: 25px auto;

    font-size: 0;
}
.gameLog {
    text-align: center;
    margin: 25px;
}
button {
    background-color: var(--alt-bg-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
button:hover {
    background-color: var(--hover-text-color);
}
select {
    display: block;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: 1px solid var(--text-color);
    box-shadow: 0 1px 0 1px var(--alt-bg-color);
    border-radius: 0.5em;
}
#battleship {
    display: none;
}
.board-name {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: large;
}