body {
    background-color: #6b9fff;
    color: #002233;
    font-family: sans-serif;
    margin: 0 auto;
    width: 80%;
    line-height: 35px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    width: 50%;
    margin: 35px auto;
    display: block;
}
h1 {
    text-align: center;
    font-size: 36px;
}
a {
    color: inherit;
}
a:hover {
    font-weight: bolder;
}
a:active {
    font-weight: lighter;
}
header {
    text-align: center;
    border: 1px solid;
    border-color: #002233;
    color: #002233;
    font-family: inherit;
}
header a {
    text-decoration: none;
    display: inline-block;
    margin: auto;
    width: 30%;
}
.header-object {
    display: block;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0;
    height: 1.05lh;
}
.header-object-body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.footer-object {
    margin-top: auto;
    line-height: 5px;
}
figure {
    margin: 50px 0;
    width: 100%;
    border: 1px solid;
    border-color: #002233;
    background-color: #fcfcb7;
    border-radius: 20px;
    display: flex;
    text-align: center;
}
.profile-photo,
.profile-blockquote {
    margin: 0;
    width: 48%;
}
.profile-photo {
    min-height: 100%;
    min-width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: #002233 1px solid;
}
.profile-blockquote {
    margin-top: auto;
    margin-bottom: auto;
}
.blockquote-text,
.blockquote-paragraph {
    line-height: 1;
}
